/* Leaflet CSS must be imported before Tailwind layers */
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full height helper */
html, body, #root {
  height: 100%;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slide-left {
  animation: slide-left 0.3s ease-out;
}
